
#login {
  background-color: #0ebc68;
  color: rgb(255, 255, 255);
  height: 48px;
  padding: 0 25px;
}
#login:hover{
   background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
   animation:slidebg 5s linear infinite;
}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

#logout {
  background-color: #50bec2;
  color: #fff;
  height: 32px;
  padding: 0 10px;
}

.logButton {
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #111;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  justify-content: center;
  max-width: 100%;
  line-height: 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#login:after {
  height: 48px;
}

#logout:after{
  height: 34px;
}

.logButton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.logButton:hover:after {
  transform: translate(0, 0);
}

.logButton:active {
  background-color: #111;
  outline: 0;
}

.logButton:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .logButton {
    padding: 0 40px;
  }
}