#logout {
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #4F772D;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #logout:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 32px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  #logout:hover:after {
    transform: translate(0, 0);
  }
  
  #logout:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  #logout:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    #logout {
      padding: 0 20px;
    }
  }