#UserDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 20px;
  width: 70vw;
}

#userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

#backButton {
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #4F772D;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 10px;
    max-width: 100%;
    line-height: 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #backButton:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 34px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  #backButton:hover:after {
    transform: translate(0, 0);
  }
  
  #backButton:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  #backButton:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    #backButton {
      padding: 0 40px;
    }
  }